body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-image: url(header.jpg);
    background-size: cover;
    height: 100%;
}

.header {
    margin-top: 200px;
    margin-bottom:30px;
    font-size: 2rem;
}

hr {
    max-width: 65px;
    border-width: 3px;
    padding: 85px;
}

.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
    text-transform: uppercase;
    border-radius: 300px;
    padding:1rem 2rem;
}

.d-flex {
    justify-content: center;
    margin: 30vh;
}

.btn-primary:hover {
    background-color: #F05F44;
    cursor: pointer;
    border-color: #ee4b08;
    border-width: 5px;
}